.triangle-down(@size: 1px, @color : #fff){

	border-left: @size solid transparent;
	border-right: @size solid transparent;
	border-top: @size solid @color;
}


.triangle-left(@size: 1px, @color : #fff){

	border-left: @size solid @color;
	border-bottom: @size solid transparent;
	border-top: @size solid transparent;

}

