
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

@import url('less/variables.less');

@import url('less/mixins.less');

body{
	 font-family: @font-family;
	 font-size: @font-size;
	 font-weight: @font-weight/2-50;
	 color: @body-color;
	 margin: 0;
	 padding: 0;

}


#page{

	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
h1{
	margin: 0 0 1em 0;
	font-size: 2.8em;
	font-weight: @font-weight;
}
h2{
	margin: 0 0 .5em 0;
	font-size: 1.6em;
	font-weight: @font-weight;
	line-height: 1.1em;
}
h3{
	margin: 0 0 .5em 0;
	font-size: 1.3em;
	font-weight: @font-weight;

}
h4{
	margin: 0 0 1.5em 0;
	font-size: 1em;
	font-weight: @font-weight;

}

p{
	margin: 0 0 1em 0;
}

a{
	color: #007eff;

	&:visited{
		color: #65b1ff;
	}

	
}

a.btn{

		font-size: 1.2em;
		text-decoration: none;
		color: @primary-color;
		border: 1px solid @primary-color;
		padding: 4px 15px;
		transition: background-color .5s;

		&:hover{
			background-color: rgba(0,0,0, .3);
		}
	}



/* Header */
header
{
	height: 430px;
	background: #cf0004 url(../images/banner_1200.jpg) no-repeat center bottom;
	position: relative;

	a.logo{
		z-index: 1;
		position: absolute;
		display: block;
		width: 160px;
		height: 66px;
		background: url(../images/logo.svg) no-repeat 0 0;
		background-size: contain;
		top:15px;
		left: 20px;

		span{
			display: none;
			}
		}
	
	div.hero {
		position: absolute;
		width: 42%;
		top:130px;
		left: 55%;

		h1{
			line-height: 1em;
			margin: 0 0 30px 0;
			color: @primary-color;
		}
	}
}



/*Section - All*/

section{
	padding: 0 30px;

	&:after{

		content:'';
		display: block;
		clear: both;
	}
}

/*Section - Main*/

section.main{
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;

	aside{
		width: 33%;
		float: left;
		text-align: center;

		 h3 a{
			color: @secondary-color;
			text-decoration: none;

			&:hover{

				text-decoration: underline;
				}
			}

		.content.trending{
			background-image: url(../images/icon_star.svg);
			}
		.content.find-it{
			background-image: url(../images/icon_marker.svg);
			}

		.content.tools{
			background-image: url(../images/icon_gear.svg);
			}
		}

	.content{
		margin:15px;
		background: no-repeat center top;
		background-size: 75px 75px;
		padding-top: 85px;
	}

}



/* Section - Atmosphere */

section.atmosphere
{
	background-color: #cc6633;
	padding-top: 30px;
	padding-bottom: 30px;
	color:@primary-color;

	article{
		padding: 0 20px 0 515px;
		background: url(../images/photo_lounge.jpg) no-repeat 0 5px;
		min-height: 220px;
	}

}

/*Section - How To */

section.how-to{
	background-color: #eee9d9;
	position: relative;

	aside{
		width: 30%;
		float: left;
		margin-right: 10px;

		.content{
			padding: 30px 30px 20px 0;

			img{
				display: block;
				margin-bottom: 15px;
				width: 70%;
			}

			h4{
				margin-bottom: 0;
			}

			p{
				margin-bottom: .5em;
			}

			a{
				display: inline-block;
				color: #cc6633;
				font-weight: @font-weight;
			}
		}
	}


	blockquote{
		margin: 0;
		width: 32%;
		color:#444;
		background-color: @primary-color;
		position: absolute;
		bottom: 0;
		right: 4%;

		&:before{
			content: '\201c';
			color: #d2bd65;
			position: absolute;
			top:10px;
			left: 8px;
			font-size: 5em;
			font-size: serif;
		}

		p{
			margin: 30px 30px 20px 50px;
		}


		p.quote{
			font-style: italic;
			font-size: 1.2em;

			&:after{
				content:'\201d';
				font-family: serif;
			}
		}

		p.credit{
			color: #777;
			font-size: .9em;
			margin-top: 0;
			padding-left: 20px;
			line-height: 1.3em;
			position: relative;

			&:before{

				content: '\2014';
				position: absolute;
				top:-1px;
				left: 0;
			}
		}

	}
}


/*Navigation*/

nav {
	background-color: rgba(0,0,0,.65);
	position: absolute;
	top: 0;
	left: 0;
	padding: 50px 0 0 0;
	width: 100%;

	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			&:hover{
				background-color: #2b0306;

				> ul{
					display: block;
				}
			}

			a{
				display: inline-block;
				color: @primary-color;
				padding: 10px 20px;
				text-decoration: none;
				width: 125px;
				position: relative;

				&:visited{
					color: #fff;
				}

				&:hover{
					background-color: #6d0911;
				}
			}
		}

		ul{
			position: absolute;
			top: 100%;
			background-color: #2b0306;
			display: none;

			li{
				position: relative;

			}

			ul{
				left: 100%;
				top: 0px;
			}
		}
	}

	&:after{
		content: '';
		display: block;
		clear: both;
	}

	 > ul {
		padding-left: 200px;

		> li {
			float: left;

			> a{
				width: auto;
				padding:10px 20px 15px 20px;
			}

			> a[aria-haspopup="true"]{
					&:after{
						.triangle-down(4); 

						left: 20px;
						right: auto;
						bottom: 6px;
						top:auto;
					}
					
			}
		}
	}


	a[aria-haspopup="true"]{
		&:after{
			content: '';
			display: block;
			width: 0px;
			height: 0px;
			position: absolute;
			top:16px;
			right: 15px;

			/*crtanje triagolnik*/
			.triangle-left(4);
		}
	}
}


/*[aria-haspoup="true"] proveruva dali postoi element sho ja ima vrednosta = true */


/*Footer*/
footer{
	
	font-size: .8em;
	margin: 40px;
	color: #999;

	.content{
		display: inline;
	}

	 a{
		margin-left: 30px;
		color: #777;

		&:visited{

			color: #777;
		}

		&:hover{
			color: @secondary-color;
		}
	}

}


/* Media queries */

@media screen and (max-width: 1000px){
	h1{
		font-size: 2.4em;

	}

	/* Header */

	header{

		div.hero{
			left: 56%;

			h1{
				margin-bottom: 20px;
			}
		}
	}

	/* section - atmosphere */

	section.atmosphere article{
		padding-left: 400px;
		background-size: 375px auto;
	}
}

@media screen and (max-width: 825px){
	h1{
		font-size: 2.2em;
	}

	/* Header */

	header {
		height: 300px;
		background-image: url(../images/banner_825.jpg);

		div.hero{
			top: 120px;
			left: 48%;
		}
	}

	/* section - atmosphere */

	section.atmosphere{
		article{
			padding-left: 325px;
			background-size: 300px auto;
		}
	}

	/* section - how-to */

	section.how-to{
		blockquote p.quote{
			font-size: 1.1em;
			line-height: 1.2em;

		}
	}

	section.how-to blockquote p.credit{
		font-size: .85em;
	}
}

@media screen and (max-width: 760px)
{
	h1{
		font-size: 1.8em;
	}

	h2{
		font-size: 1.4em;
	}

	h3{
		font-size: 1.1em;
	}

	a.btn{
		font-size: 1em;
	}

	/* Header */

	header{

		 a.logo{
			width: 145px;
			height: 60px;

		}
		 div.hero{
			top:140px;
			left: 48%;
		}
	}

	/* section - main */

	section.main {
		margin-top: 10px;
		margin-bottom: 10px;


		aside {

			div.content{
				background-size: 55px 55px;
				padding-top: 60px;
			}
		}
	}

	/* how-to */

	section.how-to{

		aside {
			div.content {
				img{

					width: 85%;
				}
			}
		}
	}


	/*nav */

	nav{
		padding-top: 80px;

		> ul {
			padding-left: 10px;
		}
	}

}


@media screen and (max-width: 625px){
	h1{
		font-size: 1em;
	}

	h3{
		margin-bottom: 0px;
	}

	a.btn{
		font-size: .9em;
	}

	header{
		height: 160px;
		background-image: url(../images/banner_625.jpg);
		background-position: left top;

		 a.logo{
			width: 100%;
			height: 66px;
			left: 0px;
			top: 0px;
			background-color: rgba(0,0,0,.65);
			background-size: 112px 46px;
			background-position: 20px center;
		}

		div.hero{
			width: 300px;
			top:85px;
			left: 130px;

			 h1{
				margin-bottom: 10px;
			}
		}
	}

	section.main {

		aside{
			width: 100%;
			float: none;
			text-align: left;

			div.content{
				margin:8px 20px 8px 0px;
				padding: 5px 0px 10px 85px;
				background-size: 50px 50px;
				background-position: 20px 5px;
			}
		}
	}
	section.atmosphere{

		 article{

			padding: 160px 20px 0px 0px;
			background-size: 300px auto;
			min-height: initial;
		}

	}

	section.how-to {
		aside{
			width: 100%;
			float: none;
			margin:0;
			position: relative;

			div.content{
				padding:20px 20px 20px 150px;

				p{
				font-size: .9em;
				}

				img{
					display: inline-block;
					width: 125px;
					position: absolute;
					top: 30px;
					left: 0px;
				}
			}
		}
	}

	section.how-to{

		blockquote{
			margin:0 20px 0 40px;
			width: 90%;
			position: relative;
			padding:1px 0px 20px 0px;

			p.credit{
				margin-bottom: 0px;
			}
		}
	}

	nav{
		position: static;
		width: auto;
		padding: 20px 15px;
		background-color: #4b0a0c;

		ul{
			display: block;
			position: static;

			li{
				a{
					width: auto;
					display: block;
					margin:8px 10px;
					padding: 8px 15px;
					border: 1px solid rgba(255,255,255,.25);

					&:hover{
						background-color: rgba(255,255,255,.2);
					}
				}


				&:hover{
					background: none;
				}
			}

			ul{
				display: block;
				position: static;
				background: none;

				li {

					a{
						margin-left: 30px;
					}
				}

				ul{

					li{
						a{
							margin-left: 60px;
						}
					}
					display: block;
					position: static;
				}
			}
		}

		> ul {
			padding: 0;

			 > li{
				float: none;
				margin-top: 25px;
			}

		}

		a[aria-haspopup="true"]{
			&:after{
				display: none;
			}
		}
	}



	footer {

		div.content{
			display: block;
			margin-top: 15px;

		 	a{
				margin:0 20px 0 0;
			}
	
		}
	}
}

@media screen and (max-width: 425px){
	header {
		height: 110px;
		background-image: url(../images/banner_425.jpg);

		a.logo{
			height: 36px;
			background: rgba(0,0,0,.65) url(../images/logo_small.svg) no-repeat center center;
			background-size: 126px 17px;
		}


		div.hero{
		width: 100%;
		left: 0px;
		top: 46px;
		text-align: center;

			h1 {
				font-size: 1em;
				margin-bottom: 10px;
			}

			a.btn{
				padding:2px 30px;
				font-size: .8em;

				span{
					display: none;
				}
			}
		}
	}


	section.how-to {

		aside {

			div.content{
				padding: 140px 20px 20px 0px;

				img{
					width: auto;
					height: 100px;
					top: 30px;
				}

			}
		}

	}

	section.how-to{
		 blockquote{
			margin:10px 40px 0px 20px;
		}
	}

	footer{
		&:after{
			content: '';
			display: block;
			clear: both;
		}

		div.content{
			a{
				display: inline-block;
				margin:0 0 10px 0;
				float: left;
				clear: both;
			}
		}
	}
	

}


